
body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.btn {
  margin: 25px;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.start-button {
  display: none;
  color: darkblue;
  background-color: #FEF2BF;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 15px;
  
}

.button-div {
  margin-top: 50px;
}

@media(max-width: 630px)
{
  .btn {
    margin: 10px;
    height: 150px;
    width: 150px;
  }

  #level-title {
    margin:  5%;
  }

  .start-button {
    display: initial;
  }
  
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}


